__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.git/
.vscode/
.idea/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.cache/
.env
.env.*
.gitignore
mpl-cache/
flimkit_tests/
*.ptu
*.tiff
*.tif
*.npy
*.npz
*.csv
*.xlsx
*.h5
*.hdf5
.github/
.claude/